<div>
  
@for (item of user(); track $index) {
@if(item.id === '1') {
  <div>Developer - {{item.name | uppercase}}</div>
} @else if (item.id === '2') {
<div>QA - {{item.name | uppercase}}</div>
} @else if (item.id === '3') {
  <div>Admin - {{item.name | uppercase}}</div>
}
}@empty {
  <div>we dont have anything</div>
}
@for (item of user(); track $index) {
@switch (item.id) {
  @case('1') {
    <div>New role {{item.class}} - {{item.name | uppercase}}</div>
  }
  @case('2') {
    <div>New role {{item.class}} - {{item.name | uppercase}}</div>
  }
  @case('3') {
    <div>New role {{item.class}} - {{item.name | uppercase}}</div>
  }
}
}
@defer () {
  <div>Defer</div>
}
@loading(after 1000ms; minimum 1000ms) {
  <div>Loading...</div>
}
@placeholder (minimum 1000ms){
  <div>placeholder</div>
}
</div>
<router-outlet></router-outlet>